@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.fix{
    content: '';
    clear: both;
    display: block;
}

.container{
    width: 1170px;
    margin: auto;
}

.row{
    background-color: red;
    margin-right: -15px;
    margin-left: -15px;
}

/*[class*=col]{*/
/*    float: left;*/
/*    padding: 0 15px;*/
/*}*/

.col-4{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.col-8{
    width: 66.66%;
    float: left;
    padding: 0 15px;
}

header{
    border-top: 5px solid #4272d7;
    min-height: 120px;
}

.logo{
    float: left;
    margin-top: 35px;
}

.navbar{
    float: right;
}

.navbar ul{}

.navbar ul li{
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

.navbar ul li a {
    color: #666;
    display: block;
    font-size: 15px;
    padding: 50px 0;
}

.navbar ul li:hover > a{
    color: #4272d7;
}

.navbar ul li .dropdown, .navbar ul li .dropdown li .dropdown-2{
    background-color: #171a21;
    border-top: 5px solid #4272d7;
    position: absolute;
    transition: .3s ease 0s;
    width: 250px;
    opacity: 0;
    visibility: hidden;
}
.navbar ul li .dropdown{
    top: 110%;
    left: 0;
    z-index: 99;
}

.navbar ul li .dropdown li{
    display: block;
    margin-left: 0;
    border-bottom: 2px solid #1e2128;
}

.navbar ul li .dropdown li a{
    color: #fff;
    padding: 15px 20px;
    font-size: 13px;
    transition: .3s;
}

.navbar ul li .dropdown li:hover > a{
    background-color: #4272d7;
    padding-left: 30px;
}

.navbar ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.navbar ul li .dropdown li .dropdown-2{
    left: 100%;
    top: 0;
}

.navbar ul li .dropdown li:hover .dropdown-2{
    opacity: 1;
    visibility: visible;
}

.search-icon{
    float: right;
    margin-top: 50px;
    padding-left: 25px;
    margin-left: 25px;
    position: relative;
}

.search-icon a{
    color: #555;
}
.search-icon::before{
    content: '';
    background-color: #ccc;
    height: 15px;
    width: 1px;
    position: absolute;
    left: 0;
    top: 2px;
}

/* slide area start */

.single-slide{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 175px 0;
    width: 100%;
}
.single-slide h4{
    font-size: 30px;
}
.single-slide h2{
    font-size: 72px;
    font-weight: 900;
}
.single-slide a{
    color: #fff;
    font-size: 15px;
    padding: 20px 40px;
    background-color: #4272d7;
    display: inline-block;
    font-weight: bold;
    margin-top: 50px;
}

.owl-theme .owl-nav button{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #3d3d3d !important;
    color: #fff !important;
    position: absolute;
    top: 45%;
    left: 50px;
    transition: .3s;
}

.owl-theme .owl-nav button:hover{
    background-color: #4272d7 !important;
}

/*.owl-theme .owl-nav button.owl-prev{*/
/*    top: 40%;*/
/*    left: 0;*/
/*}*/

.owl-nav button.owl-next{
    right: 50px;
    left: auto;
}

/*.owl-dots {*/
/*    position: relative;*/
/*    z-index: 99;*/
/*    margin-top: -50px;*/
/*}*/

.owl-dots{
    text-align: center;
    position: relative;
    z-index: 99;
    top: -50px;
}

.owl-dot {
    background: #bdbdbd !important;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.owl-dot.active{
    background: #4272d7 !important;
    height: 15px;
    width: 15px;
}

/* slide area end */

/* cta area */

.cta-area{
    padding: 50px 0 70px;
    background-color: #4272d7;
}